
/out/
/target/
/.idea/
将删除 .DS_Store
将删除 markdown/.DS_Store
将删除 markdown/imooc/.DS_Store
将删除 "markdown/spring\346\272\220\347\240\201/.DS_Store"
将删除 src/.DS_Store
将删除 src/main/.DS_Store
将删除 src/main/java/.DS_Store
将删除 src/main/java/com/.DS_Store
将删除 src/main/java/com/imooc/entity/
将删除 src/main/java/demo/reflect/
将删除 src/main/resources/
